<%-include('./base.ejs') %>
   
    <div class="Heading">Choose your vote </div>

    <form class="vote-container" action="/vote/" method="POST">
    <% results.forEach(function(eachPerson){ %>
        <div class="card1">

        
            <div class="card-title"><%= eachPerson.name%></div>
           
            <img class="card-img" src="<%= eachPerson.img%>">
            <div class="card-name"><%= eachPerson.leader%></div>
            <button class="vote-btn" id="party_id" name="party_id" value="<%= eachPerson.id%>">Vote</button>
        </div>
    <% }) %>
    </div>
</body>
</html>